* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background-color: #1D212A;
    font-family: "Poppins", sans-serif;
    color: beige;
}

main {
    display: flex;
    flex-direction: row;
}

h1,
h3,
h5 {
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-size: small;
}

.navy {
    background-color: #1D212A;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.brown {
    background-color: #48463D;
    box-shadow: 0 4px 8px 0 rgba(183, 173, 117, 0.2);
}

.blue {
    background-color: #303643;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.beige {
    background-color: #E0DABE;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(183, 173, 117, 0.2);
}
.card {
    border-radius: 20px;
    padding: 20px;
}

/*landing page*/
.landing {
    background-image: url('../img/landing-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    position: absolute;
    left: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-position: center;
    background-repeat: no-repeat;
}

.swipe-button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    background-color: #042130;
    background-image: url('../logo/shipAnchor-logo.png');
    background-size: contain;
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

.swipe-button:hover {
    transform: translateY(-15px);
}

/*bar*/
.bar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo {
    height: 50px;
}

.nav-button {
    background-size: contain;
}

.menu {
    background-image: url('../logo/shipSteering-logo.png');
}

.home-menu {
    background-image: url('../logo/goingMerry-logo.png');
}

.chara-menu {
    background-image: url('../logo/mugiwara-logo.png');
}

.arcs-menu {
    background-image: url('../logo/compass-logo.png');
    background-size: 30px;
}

.defruit-menu {
    background-image: url('../logo/devilFruit-logo.png');
    background-size: 25px;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    display: none;
}

.menu-dropdown.show {
    display: block;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.menu-list li a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: beige;
}

/*sliding*/
.sliding-content {
    margin: 50px auto;
    width: 95%;
}

.slide {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    gap: 120px;
}

.slide img {
    width: 50%;
}

.slide h4,
.slide img {
    display: none;
}

.slide.active h4,
.slide.active img {
    display: block;
}


/*content*/
.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 50px;
    flex-grow: 5;
}


/*chara content*/
.chara-content {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    height: max-content;
    gap: 50px;
    overflow-x: auto;
}

.chara-content::-webkit-scrollbar {
    display: none;
}

.chara {
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.chara h3 {
    flex-grow: 1;
    font-size: xx-large;
}

.chara-img {
    position: absolute;
}

.nominal {
    font-size: medium;
    font-weight: bold;
}

.berries-logo {
    width: 20px;
}

/*arcs content*/
.arcs-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    height: 500px;
}

.arcs-content::-webkit-scrollbar {
    display: none;
}


.arcs {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.arcs img {
    width: 60%;
}

/*devil's fruit*/
.defruit-content {
    max-height: 300px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10px;
}

.defruit-content::-webkit-scrollbar {
    display: none;
}

.defruit {
    position: relative;
}

.defruit img {
    width: 200px;
}

.defruit-desc {
    display: none;
    position: absolute;
    top: -25px;
    right: -80px;
    margin: 10px;
}

.defruit img:hover + .defruit-desc {
    display: block;
}

/*aside*/
aside {
    flex-grow: 1;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.profile {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

figure {
    display: flex;
    justify-content: center;
}

figure img {
    width: 150px;
}

table {
    font-size: small;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    position: relative;
}

.gallery-wrapper {
    max-height: 200px;
    max-width: 230px;
    overflow: hidden;
}

.gallery-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.pic {
    width: 100%;
    flex-shrink: 0;
}

/*footer*/
footer {
    margin: 15px;
}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        gap: 50px;
    }

    .menu-list {
        flex-direction: column;
        gap: 10px;
    }
    
    .slide {
        flex-direction: column;
        gap: 10px;
    }

    .slide img {
        width: 80%;
        order: -1;
    }

    .chara-content {
        gap: 30px;
    }

    .arcs,
    .defruit,
    aside {
        width: 100%;
    }

    .defruit-content {
        justify-content: center;
    }

    .defruit {
        display: flex;
        flex-basis: calc(50% - 10px);
    }

    .defruit img {
        width: 80%;
    }

    .gallery,
    .profile {
        width: 60%;
    }

    .gallery-wrapper {
        height: 350px;
        width: 500px;
    }

    aside {
        margin: 0;
    }

    .profile {
        flex-direction: row;
        gap: 25px;
        font-size: large;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .defruit {
        flex-basis: auto;
        justify-content: center;
    }

    .defruit img {
        width: 50%;
    }

    .profile {
        flex-direction: column;
    }
}