* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background-color: #1D212A;
    color: beige;
}

main {
    display: flex;
}

/*landing page*/
.landing {
    background-image: url('../img/landing-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    position: absolute;
    left: 25%;
}

.round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-position: center;
    background-repeat: no-repeat;
}

.swipe-button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    background-color: #042130;
    background-image: url('../logo/shipAnchor-logo.png');
    background-size: contain;
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

.swipe-button:hover {
    transform: translateY(-15px);
}

/*bar*/
.bar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo {
    height: 50px;
}

.nav-button {
    background-color: #48463D;
    background-size: contain;
}

.menu {
    background-image: url('../logo/shipSteering-logo.png');
}

.home-menu {
    background-image: url('../logo/goingMerry-logo.png');
}

.chara-menu {
    background-image: url('../logo/mugiwara-logo.png');
}

.arcs-menu {
    background-image: url('../logo/compass-logo.png');
    background-size: 30px;
}

.defruit-menu {
    background-image: url(../logo/devilFruit-logo.png);
    background-size: 25px;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    display: none;
}

.menu-dropdown.show {
    display: inline;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.menu-list li a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: beige;
}

.sliding-content {
    margin: 50px auto;
    width: 95%;
    background-color: #303643;
    display: flex;
    align-self: center;
    align-items: center;
}

/*content*/
.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 50px;
    flex-grow: 5;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
}

/*chara content*/
.chara-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.chara {
    height: 300px;
    width: 150px;
    background-color: #E0DABE;
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
}

.chara h3 {
    flex-grow: 1;
    font-size: larger;
}

.chara-img {
    height: 225px;
    position: absolute;
    top: -45px;
    right: -45px;
}

.nominal {
    font-size: large;
    font-weight: bold;
}

.berries-logo {
    width: 20px;
}

.chara p {
    font-size: small;
}

/*arcs content*/
.arcs-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.arcs {
    width: 400px;
    background-color: #303643;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.arcs img {
    width: 80%;
}

/*devil's fruit*/
.defruit-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.defruit-content img {
    width: 200px;
    position: relative
}

.defruit-desc {
    display: none;
    position: absolute;
    background-color: #E0DABE;
    color: black;
    margin: 10px;
}

.gomu img:hover + .defruit-desc {
    display: block;
}

/*aside*/
aside {
    flex-grow: 1;
    margin: 0 30px;
}

.profile {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

figure img {
    width: 150px;
}

table {
    font-size: small;
}