* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background-color: #1D212A;
}

/* landing page */
.landing {
    background-image: url('../img/landing-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    position: absolute;
    left: 25%;
}

.round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-position: center;
    background-repeat: no-repeat;
}

.swipe-button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    background-color: #042130;
    background-image: url('../logo/shipAnchor-logo.png');
    background-size: contain;
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

.swipe-button:hover {
    transform: translateY(-15px);
}

/* navbar */
.nav-button {
    background-color: #48463D;
    background-size: contain;
}

.menu {
    background-image: url('../logo/shipSteering-logo.png');
}

.home {
    background-image: url('../logo/goingMerry-logo.png');
}

.chara {
    background-image: url('../logo/mugiwara-logo.png');
}

.arcs {
    background-image: url('../logo/compass-logo.png');
    background-size: 30px;
}

.defruit {
    background-image: url(../logo/devilFruit-logo.png);
    background-size: 25px;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    display: none;
}

.menu-dropdown.show {
    display: inline;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.menu-list li a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: beige;
}

.logo {
    height: 50px;
}

nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

/* content */
.main-content {
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.sliding-content {
    width: 95%;
    background-color: #303643;
    display: flex;
    align-self: center;
    align-items: center;
}

.chars-content {
}